@import "utils";

.breadcrumb {
  margin-top: 5px;
  width: 100%;
  height:360px;


  img {
    margin-top: 10px;
    padding-left: 10px;
  }
  .text__breadcrumb {
    color:#fff;
    font-size: 1.4rem;
    float: right;
    padding: 30px;

    a{
      color:#fff;
    }
  }
}
