@import "mixins";

.main {
  margin-top: 75px;
}

.show__image {
    position: relative;
    display: inline-block;
    margin:5px;
}
.show__image:hover img{
    opacity:0.5;
    border:1px solid #000;
}

.show__image:hover input {
    display: block;
}
.show__image input {
    position:absolute;
    display:none;
    background: #000;
    border:1px solid #000;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    width: 130px;
    padding: 12px 12px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

.show__image input.delete {
    top:37%;
    left:20%;
}

.show__image h3 {
  position: absolute;
  top: 10%;
  left: 28%;
  visibility: hidden;
  color: #fff;

}

.show__image:hover h3{
  visibility: visible;
  transition: visibility 0.3s;
}

.diccionarios{
  margin-button:10px;

  button{
    @include button__bg($display:inline-block,$back:#0C5EB0);
  }
}

.filmButton{
  text-align:right;

  button{
    @include button__bg($width:none,$display:inline-block,$back:#0C5EB0);
  }
}
