.films-results {
  text-align: center;
  padding-top:20px;
  img {
    font-family: 'Helvetica';
    font-weight: 300;
    line-height: 2;
    text-align: center;
    display: inline-block;;
    position: relative;
    width: 230px;
    height: 345px;
  }

}
