.align__right {
  text-align: right;
}

.align__left {
  text-align: left;
}

.align__center {
  text-align: center;
}

.inline {
  display: inline;
}

.hidden {
  display: none;
}

.pull__left{
  float:left;
}

.pull__right{
  float:right;
}
